ACVP-Server-1.1.0.39/
SLH-DSA-.*-1.rsp
.DS_STORE
.vscode/launch.json

# executables
*.o
./slh_sha2
./slh_dsa
./ACVP_test_functions
./ACVP_sig_test
./kat_test
./sha3_f1600
./ACVP_keygen_test
./sha2_256
./sha2_512
./slh_shake
./ACVP_ver_test
./sha3_api